body{

	background-color: #304252;
}
.title h2{
	text-align: center;
	color: rgb(37, 16, 1);
	position: absolute;
	top: 6%;
	left: 45%;
	transform: translateX(-50%);
	font-weight: 100;
	font-size: 45px;
	font-family: Cooper Black;
}
.signin{
	background: rgba(44,62,80,0.7);
	padding: 50px;
	width: 250px;
	margin: auto;
	margin-top: 100px;
	height: 300px;
	margin-left: 500px;
}
.signup{
	align: center;
	background: rgba(44,62,80,0.7);
	padding: 30px;
	width: 300px;
	margin: auto;
	margin-top: 80px;
	height: 480px;
	margin-left: 500px;
}
form{
	width: 240px;
	text-align: center;
}
input{
	width: 240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: #fff;
}
input[type=submit]{
	border: none;
	width: 190px;
	background: white;
	color: #000;
	font-size: 16px;
	line-height: 16px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
}
input[type=submit]:hover{
	color: #fff;
	background-color: black;
}
h2{
	color: white;
}
a{
	color: yellow;
	text-decoration: blink;
}
a:hover{
	color: skyblue;
}
.container{
	display: flex;
	flex-direction: row;
	width: 100%;
}
::placeholder {
color: aliceblue;
opacity: 0.8;
}